    body{background-color: rgb(10, 3, 20); font-family:"Roboto",sans-serif;
            align-content: center; 
            text-align: center; }
    h1{font-family: "Biryani", sans-serif;}
    h4{color:rgb(247, 237, 121)}
    
    li{text-align: center; align-content: center;line-height: 1.5em;}
    .button{
        background-color:rgb(247, 237, 121);
        color:rgb(43, 43, 43);
        padding:30px 30px;
        border-radius:4%;
        text-decoration-style: none;
        text-align: center;
        margin:"2px";
        
                                }
        .header{
            margin-top:47px;    
            margin-bottom: 47px;
            color:rgb(247, 237, 121)
        }
        .about-box{
            background-color:white;
            margin-top: 15px;
            margin-bottom: 47px;
            padding;10px 10px 47px 10px;
            color:rgb(10, 3, 20)
        }
        .about{
            margin-left:30%;
                width:40%;
                align-content: center;
                color:rgb(10, 3, 20);
                margin-bottom: 47px;
                                    }
        .works{
            margin-top:10px;
            margin-bottom:20px;
            line-height: 4em;
            color:rgb(247, 237, 121)

        }
        .follow{
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 4em;
            color:rgb(247, 237, 121)
        }
        .footer{
            background-color:rgb(247, 237, 121) ;
            height:3em ;
            margin:5px;
            padding: 15px;
                            }