    body{background-color: rgb(10, 3, 20); font-family:"Roboto",sans-serif;
            align-content: center; 
            text-align: center; }
    h1{font-family: "Biryani", sans-serif;}
    h4{color:rgb(247, 237, 121)}
    
    li{text-align: center; align-content: center;line-height: 1.5em;}
    .button{
        background-color:rgb(247, 237, 121);
        color:rgb(43, 43, 43);
        padding:30px 30px;
        border-radius:4%;
        text-decoration-style: none;
        text-align: center;
        margin:"2px";
        
                                }
        .header{
            margin-top:47px;    
            margin-bottom: 47px;
            color:rgb(247, 237, 121);
                    }

        #pic{
            box-shadow: 0px 0px 7px -7px rgb(111, 117, 141);
            border-radius:3%;
        }

        .about-box{
            background-color:white;
            margin-top: 20px;
            margin-bottom: 47px;
            padding;20px 10px 47px 10px;
            color:rgb(10, 3, 20)
        }
        #about-me{
            margin-top: 20px;
            padding-top: 20px;
        }
        .about{
            margin-left:30%;
                width:40%;
                align-content: center;
                color:rgb(10, 3, 20);
                margin-bottom: 47px;
                clear: both;
                }
        .obullet{
            width: 20%;
            align-content: center;
            list-style-type: square;
            list-style-position: inside;
        }
                                   

        #allbullets{
            align-content: center;
            clear: both;
            width: 40%;
            margin: auto;
            margin-bottom: 30px;
            padding-bottom:20px;
            display: inline-block;
           
        }                            
        .bulletsL{
            float: left;
            width:25%;
           
        }
        .bulletsR{
            float: right;
            width:25%;
                    }
        .works{
            margin-top:10px;
            margin-bottom:20px;
           
            line-height: 4em;
            color:rgb(247, 237, 121);
            clear: both;

        }
        .follow{
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 4em;
            color:rgb(247, 237, 121);
            clear: both;
        }
        .footer{
            background-color:rgb(247, 237, 121) ;
            height:3em ;
            margin:5px;
            padding: 15px;
                            }